<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png" />
    <link rel="manifest" href="static/site.webmanifest" />
    <link rel="stylesheet" href="static/pico.min.css" />
    <script src="static/htmx.min.js"></script>
    <script src="static/htmxextension.js"></script>
    <title>todo w. htmx</title>
  </head>
  <body>
    <header class="container">
      <h1>todoer ✅</h1>
    </header>
    <main class="container">{{template "todoList" .}} {{template "addTodo" }}</main>
  </body>
</html>
